{% macro bGrid() -%}
<div class="grid grid-flow-row grid-cols-2 gap-6 md:grid-cols-4">

    <div id="happy" tabindex="0"
        class="flex justify-center items-center rounded-xl h-[30vh] bg-base-100 shadow-xl  btn btn-accent">
        <div class="card-body ">
            <h1 class="text-lg md:text-2xl text-center block select-none" style="font-size:8rem;">😀</h1>
        </div>
    </div>
    <div id="angry" tabindex="0"
        class="flex justify-center items-center rounded-xl h-[30vh] bg-base-100 shadow-xl  btn btn-accent">
        <div class="card-body">
            <h1 class="text-2xl text-center block select-none" style="font-size:8rem;">😡</h1>
        </div>
    </div>
    <div id="surprise" tabindex="0"
        class="flex justify-center items-center rounded-xl h-[30vh] bg-base-100 shadow-xl  btn btn-accent">
        <div class="card-body">
            <h1 class="text-2xl text-center block select-none" style="font-size:8rem;">😲</h1>
        </div>
    </div>
    <div id="happyEmphasis" tabindex="0"
        class="flex justify-center items-center rounded-xl h-[30vh] bg-base-100 shadow-xl  btn btn-accent">
        <div class="card-body">
            <h1 class="text-2xl text-center block select-none" style="font-size:8rem;">😆</h1>
        </div>
    </div>
    <div id="sad" tabindex="0"
        class="flex justify-center items-center rounded-xl h-[30vh] bg-base-100 shadow-xl  btn btn-accent">
        <div class="card-body">
            <h1 class="text-2xl text-center block select-none" style="font-size:8rem;">😭</h1>
        </div>
    </div>
    <div id="neutral" tabindex="0"
        class="flex justify-center items-center rounded-xl h-[30vh] bg-base-100 shadow-xl  btn btn-accent">
        <div class="card-body">
            <h1 class="text-2xl text-center block select-none" style="font-size:8rem;">😐</h1>
        </div>
    </div>
    <div id="loading" tabindex="0"
        class="flex justify-center items-center rounded-xl h-[30vh] bg-base-100 shadow-xl  btn btn-accent">
        <div class="card-body">
            <h1 class="text-2xl animate-spin text-center block select-none" style="font-size:8rem;">😵‍💫</h1>
        </div>
    </div>
    <div id="bounce" tabindex="0"
        class="flex justify-center items-center rounded-xl h-[30vh] bg-base-100 shadow-xl  btn btn-accent">
        <div class="card-body">
            <h1 class="text-2xl animate-bounce text-center block select-none" style="font-size:8rem;">🥸</h1>


        </div>
    </div>
</div>
{%- endmacro %}