{% from "dashboard.html" import dashboard %}
{% from "terminal.html" import terminal %}
{% from "card.html" import card %}

{% extends "index.html" %}

{% block content %}



<div class="container mx-auto px-5 py-5">
    <div class="sm:grid sm:grid-cols-3 gap-4  items-stretch content-between flex-row">
        <div class="col-span-1 row-span-2">
            {{ card() }}
        </div>
        <div class="sm:col-span-2 sm:row-span-2 bg-yellow-400 sm:bg-green-500">
            <div class="relative">
                {{ terminal() }}
                <div class="box-content absolute right-2 top-2">
                    <button class="btn" id="clearBtn">Clear</button>
                </div>
            </div>
            <div class="">
                {{ dashboard() }}
            </div>
        </div>

    </div>
</div>

{% endblock %}