{% macro terminal() -%}
<div id="Terminal" class="mockup-code pb-4 card shadow-2xl overflow-scroll" style="height: 50vh;">

  <pre data-prefix="$"><code>npm i daisyui</code></pre>
  <pre data-prefix="$"><code>npm i daisyui</code></pre>
  <pre data-prefix=">" class="text-warning"><code>installing...</code></pre>
  <pre data-prefix=">" class="text-success"><code>Done!</code></pre>
  <pre data-prefix="$"><code>npm i daisyui</code></pre>
  <pre data-prefix=""><div style="background-color: gray; display: inline-block;"> </div></pre>

</div>
{%- endmacro %}