{% macro terminal() -%}
<div id="Terminal" class="mockup-code pb-6 mb-3 card shadow-2xl overflow-scroll"
  style="height: 50vh; scroll-snap-type: y mandatory;">

  <pre data-prefix="$" style="scroll-snap-align: start;"><code>npm i daisyui</code></pre>
  <pre data-prefix="$" style="scroll-snap-align: start;"><code>npm i daisyui</code></pre>
  <pre data-prefix=">" class="text-warning" style="scroll-snap-align: start;"><code>installing...</code></pre>
  <pre data-prefix=">" style="scroll-snap-align: start;" class="text-success"><code>Done!</code></pre>
  <pre data-prefix="$" style="scroll-snap-align: start;"><code>npm i daisyui</code></pre>
  <pre data-prefix="$" style="scroll-snap-align: start;"><code>npm i daisyui</code></pre>
  <pre data-prefix="$" style="scroll-snap-align: start;"><code>npm i daisyui</code></pre>
  <pre data-prefix=">" class="text-warning" style="scroll-snap-align: start;"><code>installing...</code></pre>
  <pre data-prefix=">" style="scroll-snap-align: start;" class="text-success"><code>Done!</code></pre>
  <pre data-prefix="$" style="scroll-snap-align: start;"><code>npm i daisyui</code></pre>
  <pre data-prefix="$" style="scroll-snap-align: start;"><code>npm i daisyui</code></pre>
  <pre data-prefix="$" style="scroll-snap-align: start;"><code>npm i daisyui</code></pre>
  <pre data-prefix=">" class="text-warning" style="scroll-snap-align: start;"><code>installing...</code></pre>
  <pre data-prefix=">" style="scroll-snap-align: start;" class="text-success"><code>Done!</code></pre>
  <pre data-prefix="$" style="scroll-snap-align: start;"><code>npm i daisyui</code></pre>
  <pre data-prefix="$" style="scroll-snap-align: start;"><code>npm i daisyui</code></pre>
  <pre data-prefix="$" style="scroll-snap-align: start;"><code>npm i daisyui</code></pre>
  <pre data-prefix=">" class="text-warning" style="scroll-snap-align: start;"><code>installing...</code></pre>
  <pre data-prefix=">" style="scroll-snap-align: start;" class="text-success"><code>Done!</code></pre>
  <pre data-prefix="$" style="scroll-snap-align: start;"><code>npm i daisyui</code></pre>
  <pre data-prefix="$" style="scroll-snap-align: start;"><code>npm i daisyui</code></pre>
  <pre data-prefix="$" style="scroll-snap-align: start;"><code>npm i daisyui</code></pre>
  <pre data-prefix=">" class="text-warning" style="scroll-snap-align: start;"><code>installing...</code></pre>
  <pre data-prefix=">" style="scroll-snap-align: start;" class="text-success"><code>Done!</code></pre>
  <pre data-prefix="$" style="scroll-snap-align: start;"><code>npm i daisyui</code></pre>


</div>
{%- endmacro %}